In [8]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import functools

In [9]:
maestro_cm14 = "../../datos/CM14/maestro_cm_4.csv"
geomap_cm14 = "../../datos/CM14/geomap_cm_4.csv"
maestro_cm14_dt = pd.read_csv(maestro_cm14)
geomap_cm14_dt = pd.read_csv(geomap_cm14)

geomap_clean = geomap_cm14_dt.rename(columns = {'dimension_': 'dimension', 'residencia_': 'residencia', 'codigo_pais_': 'codigo_pais'}, inplace = False)

combined_cm14_dt = pd.concat([maestro_cm14_dt, geomap_clean])
combined_cm14_dt

,Unnamed: 0,indicador,dimension,residencia,anyo,mes,valor,total,fecha
0,0,Viajeros,Regiones,Total,2021,3,1735172.0,1735172.0,20210331
1,1,Viajeros,Regiones,Total,2021,2,1152795.0,1152795.0,20210228
2,2,Viajeros,Regiones,Total,2021,1,1092017.0,1092017.0,20210131
3,3,Viajeros,Regiones,Total,2020,12,1397664.0,1397664.0,20201231
4,4,Viajeros,Regiones,Total,2020,11,1171282.0,1171282.0,20201130
...,...,...,...,...,...,...,...,...,...
7135,7135,Pernoctaciones,Regiones,Resto del mundo,2011,8,533082.0,41694917.0,20110831
7136,7136,Pernoctaciones,Regiones,Resto del mundo,2011,7,621133.0,37980214.0,20110731
7137,7137,Pernoctaciones,Regiones,Resto del mundo,2011,6,498797.0,30704218.0,20110630
7138,7138,Pernoctaciones,Regiones,Resto del mundo,2011,5,461021.0,24670723.0,20110531
7139,7139,Pernoctaciones,Regiones,Resto del mundo,2011,4,385868.0,22618769.0,20110430

In [10]:
combined_cm14_filtered = combined_cm14_dt.drop_duplicates()
combined_cm14_filtered

,Unnamed: 0,indicador,dimension,residencia,anyo,mes,valor,total,fecha
0,0,Viajeros,Regiones,Total,2021,3,1735172.0,1735172.0,20210331
1,1,Viajeros,Regiones,Total,2021,2,1152795.0,1152795.0,20210228
2,2,Viajeros,Regiones,Total,2021,1,1092017.0,1092017.0,20210131
3,3,Viajeros,Regiones,Total,2020,12,1397664.0,1397664.0,20201231
4,4,Viajeros,Regiones,Total,2020,11,1171282.0,1171282.0,20201130
...,...,...,...,...,...,...,...,...,...
7135,7135,Pernoctaciones,Regiones,Resto del mundo,2011,8,533082.0,41694917.0,20110831
7136,7136,Pernoctaciones,Regiones,Resto del mundo,2011,7,621133.0,37980214.0,20110731
7137,7137,Pernoctaciones,Regiones,Resto del mundo,2011,6,498797.0,30704218.0,20110630
7138,7138,Pernoctaciones,Regiones,Resto del mundo,2011,5,461021.0,24670723.0,20110531
7139,7139,Pernoctaciones,Regiones,Resto del mundo,2011,4,385868.0,22618769.0,20110430

In [11]:
combined_cm14_filtered['fecha'] = pd.to_datetime(combined_cm14_filtered['fecha'], format='%Y%m%d')
combined_cm14_filtered['ultima_fecha'] = pd.to_datetime(combined_cm14_filtered['ultima_fecha'], format='%Y%m%d')

combined_cm14_filtered.head(10)

/tmp/ipykernel_67063/514291458.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_cm14_filtered['fecha'] = pd.to_datetime(combined_cm14_filtered['fecha'], format='%Y%m%d')

KeyError: 'ultima_fecha'

In [ ]:
combined_cm14_filtered['codigo_pais'] = combined_cm14_filtered['codigo_pais'].fillna('NON-ID')
combined_cm14_filtered

<ipython-input-17-26c2f48e4e7b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_cm14_filtered['codigo_pais'] = combined_cm14_filtered['codigo_pais'].fillna('NON-ID')

,indicador,dimension,residencia,codigo_pais,anyo,mes,valor,valorPrev,total,fecha,ultima_fecha
0,Viajeros,Regiones,Total,NON-ID,2021,3,1735172.0,2656776.0,1735172.0,2021-03-31,2021-03-31
1,Viajeros,Regiones,Total,NON-ID,2021,2,1152795.0,6456402.0,1152795.0,2021-02-28,2021-03-31
2,Viajeros,Regiones,Total,NON-ID,2021,1,1092017.0,5577618.0,1092017.0,2021-01-31,2021-03-31
3,Viajeros,Regiones,Total,NON-ID,2020,12,1397664.0,6240788.0,1397664.0,2020-12-31,2021-03-31
4,Viajeros,Regiones,Total,NON-ID,2020,11,1171282.0,6693210.0,1171282.0,2020-11-30,2021-03-31
...,...,...,...,...,...,...,...,...,...,...,...
7247,Pernoctaciones,Regiones,Resto del mundo,NON-ID,2011,8,533082.0,NaN,41694917.0,2011-08-31,2021-03-31
7248,Pernoctaciones,Regiones,Resto del mundo,NON-ID,2011,7,621133.0,NaN,37980214.0,2011-07-31,2021-03-31
7249,Pernoctaciones,Regiones,Resto del mundo,NON-ID,2011,6,498797.0,NaN,30704218.0,2011-06-30,2021-03-31
7250,Pernoctaciones,Regiones,Resto del mundo,NON-ID,2011,5,461021.0,NaN,24670723.0,2011-05-31,2021-03-31
7251,Pernoctaciones,Regiones,Resto del mundo,NON-ID,2011,4,385868.0,NaN,22618769.0,2011-04-30,2021-03-31

In [ ]:
combined_cm14_filtered.groupby('indicador', as_index=False)['total'].mean()

        indicador         total
0  Pernoctaciones  2.383853e+07
1        Viajeros  7.275235e+06

In [ ]:
combined_cm14_filtered.groupby('codigo_pais', as_index=False)['total'].mean()

KeyError: 'codigo_pais'

In [15]:
combined_cm14_filtered.groupby('residencia', as_index=False)['total'].sum()

                        residencia         total
0                         Alemania  3.738549e+09
1                          Austria  3.738549e+09
2                          Bélgica  3.738549e+09
3                        Dinamarca  3.738549e+09
4                   Estados Unidos  3.738549e+09
5                        Finlandia  3.738549e+09
6                          Francia  3.738549e+09
7                           Grecia  3.738549e+09
8                          Irlanda  3.738549e+09
9                           Italia  3.738549e+09
10                           Japón  3.738549e+09
11                      Luxemburgo  3.738549e+09
12                         Noruega  3.738549e+09
13           Otros países europeos  3.738549e+09
14                    Países Bajos  3.738549e+09
15                Países africanos  3.738549e+09
16                         Polonia  3.738549e+09
17                        Portugal  3.738549e+09
18                     Reino Unido  3.738549e+09
19                 República Checa  3.738549e+09
20            Residentes en España  3.741645e+09
21     Residentes en el extranjero  3.741645e+09
22     Resto América Central y Sur  3.738549e+09
23                 Resto de la U.E  3.738549e+09
24                 Resto del mundo  3.738549e+09
25                           Rusia  3.738549e+09
26                          Suecia  3.738549e+09
27           Suiza y Liechtenstein  3.738549e+09
28                           Total  3.741645e+09
29  UE27_2020 sin España.Dato base  5.660730e+08
30      Unión Europea (sin España)  3.738549e+09

In [ ]:
combined_cm14_filtered.groupby('codigo_pais', as_index=False)['total'].mean()

   codigo_pais         total
0           AT  1.559019e+07
1           BE  1.559019e+07
2           CH  1.559019e+07
3           CZ  1.559019e+07
4           DE  1.559019e+07
5           DK  1.559019e+07
6           ES  1.559019e+07
7           FI  1.559019e+07
8           FR  1.559019e+07
9           GB  1.559019e+07
10          GR  1.559019e+07
11          IE  1.559019e+07
12          IT  1.559019e+07
13          JP  1.559019e+07
14          LU  1.559019e+07
15          NL  1.559019e+07
16          NO  1.559019e+07
17      NON-ID  1.546771e+07
18          PL  1.559019e+07
19          PT  1.559019e+07
20          RU  1.559019e+07
21          SE  1.559019e+07
22          US  1.559019e+07

In [ ]:
combined_cm14_filtered.groupby(['anyo','mes'], as_index=False)['total'].mean()

    anyo         total
0   2011  1.739053e+07
1   2012  1.515092e+07
2   2013  1.541046e+07
3   2014  1.596146e+07
4   2015  1.672720e+07
5   2016  1.795871e+07
6   2017  1.851612e+07
7   2018  1.855385e+07
8   2019  1.884407e+07
9   2020  5.247286e+06
10  2021  2.046637e+06