In [5]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import functools

# origen visitantes / empleados

In [6]:
maestro_cm19 = "../../datos/CM19/maestro_cm19.csv"
evol_cm19 = "../../datos/CM19/evolucion_cm19.csv"
maestro_cm19_dt = pd.read_csv(maestro_cm19)
evol_cm19_dt = pd.read_csv(evol_cm19)

evol_cm19_clean = evol_cm19_dt.rename(columns = {'anyo_': 'anyo', 'mes_': 'mes'}, inplace = False)

combined_cm19_dt = pd.concat([maestro_cm19_dt, evol_cm19_clean])
combined_cm19_dt

,Unnamed: 0,lugar,origen,anyo,mes,valor,indicador,dimension
0,0,Isla De Gran Canaria,Residentes en España,2021,5,17174.0,Viajeros,Zonas turísticas
1,1,Isla De Gran Canaria,Residentes en España,2021,4,14839.0,Viajeros,Zonas turísticas
2,2,Isla De Gran Canaria,Residentes en España,2021,3,16440.0,Viajeros,Zonas turísticas
3,3,Isla De Gran Canaria,Residentes en España,2021,3,16440.0,Viajeros,Zonas turísticas
4,4,Isla De Gran Canaria,Residentes en España,2021,3,11741.0,Viajeros,Zonas turísticas
...,...,...,...,...,...,...,...,...
32311,32311,Valle Gran Rey,NaN,2011,12,180.0,Personal empleado,Puntos turísticos
32312,32312,Valle Gran Rey,NaN,2011,11,190.0,Personal empleado,Puntos turísticos
32313,32313,Valle Gran Rey,NaN,2011,9,187.0,Personal empleado,Puntos turísticos
32314,32314,Valle Gran Rey,NaN,2011,8,166.0,Personal empleado,Puntos turísticos
32315,32315,Valle Gran Rey,NaN,2011,7,172.0,Personal empleado,Puntos turísticos

In [7]:
combined_cm19_filtered = combined_cm19_dt.drop_duplicates()
combined_cm19_filtered

,Unnamed: 0,lugar,origen,anyo,mes,valor,indicador,dimension
0,0,Isla De Gran Canaria,Residentes en España,2021,5,17174.0,Viajeros,Zonas turísticas
1,1,Isla De Gran Canaria,Residentes en España,2021,4,14839.0,Viajeros,Zonas turísticas
2,2,Isla De Gran Canaria,Residentes en España,2021,3,16440.0,Viajeros,Zonas turísticas
3,3,Isla De Gran Canaria,Residentes en España,2021,3,16440.0,Viajeros,Zonas turísticas
4,4,Isla De Gran Canaria,Residentes en España,2021,3,11741.0,Viajeros,Zonas turísticas
...,...,...,...,...,...,...,...,...
32311,32311,Valle Gran Rey,NaN,2011,12,180.0,Personal empleado,Puntos turísticos
32312,32312,Valle Gran Rey,NaN,2011,11,190.0,Personal empleado,Puntos turísticos
32313,32313,Valle Gran Rey,NaN,2011,9,187.0,Personal empleado,Puntos turísticos
32314,32314,Valle Gran Rey,NaN,2011,8,166.0,Personal empleado,Puntos turísticos
32315,32315,Valle Gran Rey,NaN,2011,7,172.0,Personal empleado,Puntos turísticos

In [8]:
combined_cm19_filtered['lugar'] = combined_cm19_filtered['lugar'].fillna(value = 'NON-ID')
combined_cm19_filtered

/tmp/ipykernel_69239/2417293195.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_cm19_filtered['lugar'] = combined_cm19_filtered['lugar'].fillna(value = 'NON-ID')

,Unnamed: 0,lugar,origen,anyo,mes,valor,indicador,dimension
0,0,Isla De Gran Canaria,Residentes en España,2021,5,17174.0,Viajeros,Zonas turísticas
1,1,Isla De Gran Canaria,Residentes en España,2021,4,14839.0,Viajeros,Zonas turísticas
2,2,Isla De Gran Canaria,Residentes en España,2021,3,16440.0,Viajeros,Zonas turísticas
3,3,Isla De Gran Canaria,Residentes en España,2021,3,16440.0,Viajeros,Zonas turísticas
4,4,Isla De Gran Canaria,Residentes en España,2021,3,11741.0,Viajeros,Zonas turísticas
...,...,...,...,...,...,...,...,...
32311,32311,Valle Gran Rey,NaN,2011,12,180.0,Personal empleado,Puntos turísticos
32312,32312,Valle Gran Rey,NaN,2011,11,190.0,Personal empleado,Puntos turísticos
32313,32313,Valle Gran Rey,NaN,2011,9,187.0,Personal empleado,Puntos turísticos
32314,32314,Valle Gran Rey,NaN,2011,8,166.0,Personal empleado,Puntos turísticos
32315,32315,Valle Gran Rey,NaN,2011,7,172.0,Personal empleado,Puntos turísticos

In [13]:
combined_cm19_filtered['valor'] = combined_cm19_filtered['valor'].fillna(value = 0)

print(combined_cm19_filtered.groupby(['lugar','dimension'] ,as_index=False)['valor'].sum())

                          lugar          dimension         valor
0                         Adeje  Puntos turísticos  3.629087e+07
1                       Alajero  Puntos turísticos  2.202511e+05
2                       Antigua  Puntos turísticos  1.147530e+07
3                         Arona  Puntos turísticos  5.212905e+07
4                    Breña Baja  Puntos turísticos  3.813549e+06
5                      Frontera  Puntos turísticos  3.886641e+05
6                         Mogán  Puntos turísticos  3.938840e+07
7                         Oliva  Puntos turísticos  1.121301e+07
8                        Pajara  Puntos turísticos  1.159889e+07
9                     Paso (El)  Puntos turísticos  5.968072e+05
10            Puerto De La Cruz  Puntos turísticos  1.590347e+07
11    San Bartolomé De Tirajana  Puntos turísticos  7.475739e+07
12          San Miguel De Abona  Puntos turísticos  8.635632e+06
13   San Sebastian De La Gomera  Puntos turísticos  4.119282e+05
14       Santa Cruz De La Palma  Puntos turísticos  2.227568e+04
15           Santiago Del Teide  Puntos turísticos  6.981438e+06
16                    Tazacorte  Puntos turísticos  2.067386e+05
17                      Teguise  Puntos turísticos  2.413335e+07
18                         Tias  Puntos turísticos  4.641192e+07
19               Valle Gran Rey  Puntos turísticos  3.917444e+06
20                        Yaiza  Puntos turísticos  1.213251e+07
21        Isla De Fuerteventura   Zonas turísticas  3.541484e+07
22         Isla De Gran Canaria   Zonas turísticas  1.184220e+08
23               Isla De Hierro   Zonas turísticas  4.784666e+05
24            Isla De La Gomera   Zonas turísticas  4.736110e+06
25             Isla De La Palma   Zonas turísticas  5.679372e+06
26            Isla De Lanzarote   Zonas turísticas  8.810523e+07
27             Isla De Tenerife   Zonas turísticas  1.216028e+08

/tmp/ipykernel_69239/368936132.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_cm19_filtered['valor'] = combined_cm19_filtered['valor'].fillna(value = 0)