In [4]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import functools

In [5]:
evolucion_cm21 = "../../../datos/CM21/evolucion_cm21.csv"
evolucion_cm21 = pd.read_csv(evolucion_cm21)
evolucion_cm21.describe()

             anyo_         mes_         valor     valorPrev  ultima_fecha
count  6185.000000  6185.000000   6005.000000   5515.000000        6185.0
mean   2016.070331     5.542441    818.250450    851.227895      202105.0
std       2.884540     3.326875   1805.286688   1878.049316           0.0
min    2011.000000     1.000000      0.000000      0.000000      202105.0
25%    2014.000000     3.000000     39.000000     39.000000      202105.0
50%    2016.000000     5.000000    207.000000    211.000000      202105.0
75%    2019.000000     8.000000    797.000000    817.500000      202105.0
max    2021.000000    12.000000  15177.000000  15177.000000      202105.0

In [6]:
evolucion_cm21
evolucion_cm21['origen'].fillna('Nan')

0       Residentes en España
1       Residentes en España
2       Residentes en España
3       Residentes en España
4       Residentes en España
                ...
6180                     Nan
6181                     Nan
6182                     Nan
6183                     Nan
6184                     Nan
Name: origen, Length: 6185, dtype: object

# datros establecimientos por islas

In [7]:
evolucion_cm21.groupby(['lugar', 'indicador']).size()

lugar                 indicador
Isla De Gran Canaria  Establecimientos     137
                      Estancia media       137
                      Ocupación            137
                      Pernoctaciones       276
                      Personal empleado    137
                      Plazas               137
                      Viajeros             276
Isla De Hierro        Establecimientos     137
                      Estancia media       137
                      Ocupación            137
                      Pernoctaciones       276
                      Personal empleado    137
                      Plazas               137
                      Viajeros             276
Isla De La Gomera     Establecimientos     137
                      Estancia media       137
                      Ocupación            137
                      Pernoctaciones       276
                      Personal empleado    137
                      Plazas               137
                      Viajeros             276
Isla De La Palma      Establecimientos     137
                      Estancia media       137
                      Ocupación            137
                      Pernoctaciones       276
                      Personal empleado    137
                      Plazas               137
                      Viajeros             276
Isla De Tenerife      Establecimientos     137
                      Estancia media       137
                      Ocupación            137
                      Pernoctaciones       276
                      Personal empleado    137
                      Plazas               137
                      Viajeros             276
dtype: int64

In [8]:
evolucion_cm21.nlargest(30, 'valor')

,lugar,origen,anyo_,mes_,valor,valorPrev,indicador,dimension,ultima_fecha
1870,Isla De Tenerife,Residentes en el extranjero,2016,2,15177.0,14099.0,Pernoctaciones,Zonas turísticas,202105
1843,Isla De Tenerife,Residentes en el extranjero,2018,1,15129.0,14894.0,Pernoctaciones,Zonas turísticas,202105
1868,Isla De Tenerife,Residentes en el extranjero,2016,3,15104.0,8176.0,Pernoctaciones,Zonas turísticas,202105
1869,Isla De Tenerife,Residentes en el extranjero,2016,3,15104.0,13311.0,Pernoctaciones,Zonas turísticas,202105
1854,Isla De Tenerife,Residentes en el extranjero,2017,3,14973.0,8751.0,Pernoctaciones,Zonas turísticas,202105
1855,Isla De Tenerife,Residentes en el extranjero,2017,3,14973.0,15104.0,Pernoctaciones,Zonas turísticas,202105
1857,Isla De Tenerife,Residentes en el extranjero,2017,1,14894.0,12585.0,Pernoctaciones,Zonas turísticas,202105
1826,Isla De Tenerife,Residentes en el extranjero,2019,3,14510.0,9409.0,Pernoctaciones,Zonas turísticas,202105
1827,Isla De Tenerife,Residentes en el extranjero,2019,3,14510.0,14419.0,Pernoctaciones,Zonas turísticas,202105
1856,Isla De Tenerife,Residentes en el extranjero,2017,2,14479.0,15177.0,Pernoctaciones,Zonas turísticas,202105
1840,Isla De Tenerife,Residentes en el extranjero,2018,3,14419.0,11834.0,Pernoctaciones,Zonas turísticas,202105
1841,Isla De Tenerife,Residentes en el extranjero,2018,3,14419.0,14973.0,Pernoctaciones,Zonas turísticas,202105
1842,Isla De Tenerife,Residentes en el extranjero,2018,2,14394.0,14479.0,Pernoctaciones,Zonas turísticas,202105
1884,Isla De Tenerife,Residentes en el extranjero,2015,2,14099.0,11683.0,Pernoctaciones,Zonas turísticas,202105
1858,Isla De Tenerife,Residentes en el extranjero,2016,12,13966.0,11915.0,Pernoctaciones,Zonas turísticas,202105
1828,Isla De Tenerife,Residentes en el extranjero,2019,2,13949.0,14394.0,Pernoctaciones,Zonas turísticas,202105
1845,Isla De Tenerife,Residentes en el extranjero,2017,11,13821.0,13596.0,Pernoctaciones,Zonas turísticas,202105
1859,Isla De Tenerife,Residentes en el extranjero,2016,11,13596.0,12874.0,Pernoctaciones,Zonas turísticas,202105
1882,Isla De Tenerife,Residentes en el extranjero,2015,3,13311.0,9138.0,Pernoctaciones,Zonas turísticas,202105
1883,Isla De Tenerife,Residentes en el extranjero,2015,3,13311.0,13068.0,Pernoctaciones,Zonas turísticas,202105
1830,Isla De Tenerife,Residentes en el extranjero,2018,12,13125.0,13086.0,Pernoctaciones,Zonas turísticas,202105
1829,Isla De Tenerife,Residentes en el extranjero,2019,1,13121.0,15129.0,Pernoctaciones,Zonas turísticas,202105
1844,Isla De Tenerife,Residentes en el extranjero,2017,12,13086.0,13966.0,Pernoctaciones,Zonas turísticas,202105
1896,Isla De Tenerife,Residentes en el extranjero,2014,3,13068.0,7296.0,Pernoctaciones,Zonas turísticas,202105
1897,Isla De Tenerife,Residentes en el extranjero,2014,3,13068.0,11381.0,Pernoctaciones,Zonas turísticas,202105
1873,Isla De Tenerife,Residentes en el extranjero,2015,11,12874.0,11838.0,Pernoctaciones,Zonas turísticas,202105
1871,Isla De Tenerife,Residentes en el extranjero,2016,1,12585.0,11373.0,Pernoctaciones,Zonas turísticas,202105
1815,Isla De Tenerife,Residentes en el extranjero,2020,1,12485.0,13121.0,Pernoctaciones,Zonas turísticas,202105
1846,Isla De Tenerife,Residentes en el extranjero,2017,9,12448.0,11670.0,Pernoctaciones,Zonas turísticas,202105
1814,Isla De Tenerife,Residentes en el extranjero,2020,2,12447.0,13949.0,Pernoctaciones,Zonas turísticas,202105

## pernotaciones y viajeros

In [9]:
evolucion_cm21.groupby(['mes_','origen','indicador'])['valor'].mean()

mes_  origen                       indicador
1     Residentes en España         Pernoctaciones     957.440000
                                   Viajeros           288.860000
      Residentes en el extranjero  Pernoctaciones    5342.600000
                                   Viajeros           887.540000
2     Residentes en España         Pernoctaciones     935.960000
                                   Viajeros           300.560000
      Residentes en el extranjero  Pernoctaciones    5633.620000
                                   Viajeros           969.540000
3     Residentes en España         Pernoctaciones    1107.394444
                                   Viajeros           345.272222
      Residentes en el extranjero  Pernoctaciones    4748.427778
                                   Viajeros           789.400000
4     Residentes en España         Pernoctaciones    1138.711111
                                   Viajeros           350.422222
      Residentes en el extranjero  Pernoctaciones    2286.666667
                                   Viajeros           387.133333
5     Residentes en España         Pernoctaciones    1158.111111
                                   Viajeros           360.444444
      Residentes en el extranjero  Pernoctaciones    1734.466667
                                   Viajeros           280.177778
6     Residentes en España         Pernoctaciones    1912.120000
                                   Viajeros           498.260000
      Residentes en el extranjero  Pernoctaciones    2399.820000
                                   Viajeros           334.840000
7     Residentes en España         Pernoctaciones    2991.320000
                                   Viajeros           689.600000
      Residentes en el extranjero  Pernoctaciones    2686.240000
                                   Viajeros           370.320000
8     Residentes en España         Pernoctaciones    1595.660000
                                   Viajeros           476.180000
      Residentes en el extranjero  Pernoctaciones    2493.020000
                                   Viajeros           391.000000
9     Residentes en España         Pernoctaciones    1309.380000
                                   Viajeros           428.360000
      Residentes en el extranjero  Pernoctaciones    3934.680000
                                   Viajeros           626.560000
11    Residentes en España         Pernoctaciones    1022.880000
                                   Viajeros           331.700000
      Residentes en el extranjero  Pernoctaciones    4975.520000
                                   Viajeros           838.100000
12    Residentes en España         Pernoctaciones    1273.440000
                                   Viajeros           391.740000
      Residentes en el extranjero  Pernoctaciones    5200.800000
                                   Viajeros           863.980000
Name: valor, dtype: float64

In [10]:
maestro_cm21 = "../../../datos/CM21/maestro_cm21.csv"
maestro_cm21 = pd.read_csv(maestro_cm21)
maestro_cm21.describe()

              anyo          mes         valor     valorPrev  ultima_fecha
count  6185.000000  6185.000000   6005.000000   5515.000000        6185.0
mean   2016.070331     5.542441    818.250450    851.227895      202105.0
std       2.884540     3.326875   1805.286688   1878.049316           0.0
min    2011.000000     1.000000      0.000000      0.000000      202105.0
25%    2014.000000     3.000000     39.000000     39.000000      202105.0
50%    2016.000000     5.000000    207.000000    211.000000      202105.0
75%    2019.000000     8.000000    797.000000    817.500000      202105.0
max    2021.000000    12.000000  15177.000000  15177.000000      202105.0

In [11]:
maestro_cm21.head()

,lugar,origen,anyo,mes,valor,valorPrev,indicador,dimension,ultima_fecha
0,Isla De Gran Canaria,Residentes en España,2021,5,699.0,NaN,Viajeros,Zonas turísticas,202105
1,Isla De Gran Canaria,Residentes en España,2021,4,785.0,NaN,Viajeros,Zonas turísticas,202105
2,Isla De Gran Canaria,Residentes en España,2021,3,669.0,NaN,Viajeros,Zonas turísticas,202105
3,Isla De Gran Canaria,Residentes en España,2021,3,669.0,122.0,Viajeros,Zonas turísticas,202105
4,Isla De Gran Canaria,Residentes en España,2021,3,635.0,NaN,Viajeros,Zonas turísticas,202105

In [12]:
maestro_cm21.isna()
maestro_cm21['origen'].fillna('nan')

0       Residentes en España
1       Residentes en España
2       Residentes en España
3       Residentes en España
4       Residentes en España
                ...
6180                     nan
6181                     nan
6182                     nan
6183                     nan
6184                     nan
Name: origen, Length: 6185, dtype: object

In [13]:
maestro_cm21.groupby(['mes','origen','indicador'])['valor'].mean()

mes  origen                       indicador
1    Residentes en España         Pernoctaciones     957.440000
                                  Viajeros           288.860000
     Residentes en el extranjero  Pernoctaciones    5342.600000
                                  Viajeros           887.540000
2    Residentes en España         Pernoctaciones     935.960000
                                  Viajeros           300.560000
     Residentes en el extranjero  Pernoctaciones    5633.620000
                                  Viajeros           969.540000
3    Residentes en España         Pernoctaciones    1107.394444
                                  Viajeros           345.272222
     Residentes en el extranjero  Pernoctaciones    4748.427778
                                  Viajeros           789.400000
4    Residentes en España         Pernoctaciones    1138.711111
                                  Viajeros           350.422222
     Residentes en el extranjero  Pernoctaciones    2286.666667
                                  Viajeros           387.133333
5    Residentes en España         Pernoctaciones    1158.111111
                                  Viajeros           360.444444
     Residentes en el extranjero  Pernoctaciones    1734.466667
                                  Viajeros           280.177778
6    Residentes en España         Pernoctaciones    1912.120000
                                  Viajeros           498.260000
     Residentes en el extranjero  Pernoctaciones    2399.820000
                                  Viajeros           334.840000
7    Residentes en España         Pernoctaciones    2991.320000
                                  Viajeros           689.600000
     Residentes en el extranjero  Pernoctaciones    2686.240000
                                  Viajeros           370.320000
8    Residentes en España         Pernoctaciones    1595.660000
                                  Viajeros           476.180000
     Residentes en el extranjero  Pernoctaciones    2493.020000
                                  Viajeros           391.000000
9    Residentes en España         Pernoctaciones    1309.380000
                                  Viajeros           428.360000
     Residentes en el extranjero  Pernoctaciones    3934.680000
                                  Viajeros           626.560000
11   Residentes en España         Pernoctaciones    1022.880000
                                  Viajeros           331.700000
     Residentes en el extranjero  Pernoctaciones    4975.520000
                                  Viajeros           838.100000
12   Residentes en España         Pernoctaciones    1273.440000
                                  Viajeros           391.740000
     Residentes en el extranjero  Pernoctaciones    5200.800000
                                  Viajeros           863.980000
Name: valor, dtype: float64