In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import functools

In [3]:
maestro_cm29 = "../../datos/CM29/maestro_cm29.csv"
maestro_cm29 = pd.read_csv(maestro_cm29)
maestro_cm29.describe()

        Unnamed: 0         Anyo        Valor  max_anyo  total_establecimientos
count  3803.000000  3803.000000  3803.000000    3803.0             3803.000000
mean   1901.000000  2009.849592   106.770181    2019.0            20510.883250
std    1097.975865     5.932417   199.408075       0.0             2376.836856
min       0.000000  2000.000000     1.000000    2019.0            16207.000000
25%     950.500000  2005.000000    12.000000    2019.0            18507.000000
50%    1901.000000  2010.000000    32.000000    2019.0            20293.000000
75%    2851.500000  2015.000000   100.000000    2019.0            22823.000000
max    3802.000000  2019.000000  1449.000000    2019.0            23704.000000

In [4]:
maestro_cm29.groupby(['Isla','Municipio','Comercio']).sum()

                                                  Unnamed: 0   Anyo  Valor  \
Isla      Municipio                 Comercio
El Hierro Frontera                  Bares              17190  40190  389.0
                                    Restaurantes       56756  40190  260.0
          Pinar De El Hierro (El)   Bares               8193  26091  159.0
                                    Restaurantes       33969  26091   83.0
          Pinar de El Hierro (El)   Bares              18558  28198   93.0
...                                                      ...    ...    ...
Tenerife  Victoria De Acentejo (La) Comerc_vinos        9693  10070  127.0
                                    Restaurantes       58483  40190  840.0
          Vilaflor                  Bares              18941  40190  306.0
                                    Comerc_vinos        9698  10070   15.0
                                    Restaurantes       58503  40190  423.0

                                                  max_anyo  \
Isla      Municipio                 Comercio
El Hierro Frontera                  Bares            40380
                                    Restaurantes     40380
          Pinar De El Hierro (El)   Bares            26247
                                    Restaurantes     26247
          Pinar de El Hierro (El)   Bares            28266
...                                                    ...
Tenerife  Victoria De Acentejo (La) Comerc_vinos     10095
                                    Restaurantes     40380
          Vilaflor                  Bares            40380
                                    Comerc_vinos     10095
                                    Restaurantes     40380

                                                  total_establecimientos
Isla      Municipio                 Comercio
El Hierro Frontera                  Bares                       406047.0
                                    Restaurantes                406047.0
          Pinar De El Hierro (El)   Bares                       245435.0
                                    Restaurantes                245435.0
          Pinar de El Hierro (El)   Bares                       321224.0
...                                                                  ...
Tenerife  Victoria De Acentejo (La) Comerc_vinos                116889.0
                                    Restaurantes                406047.0
          Vilaflor                  Bares                       406047.0
                                    Comerc_vinos                116889.0
                                    Restaurantes                406047.0

[203 rows x 5 columns]