In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import functools

In [4]:
maestro_cm29 = "../../../datos/CM29/maestro_cm29.csv"
maestro_cm29 = pd.read_csv(maestro_cm29)
maestro_cm29.describe()

        Unnamed: 0         Anyo        Valor  max_anyo  total_establecimientos
count  3803.000000  3803.000000  3803.000000    3803.0             3803.000000
mean   1901.000000  2009.849592   106.770181    2019.0            20510.883250
std    1097.975865     5.932417   199.408075       0.0             2376.836856
min       0.000000  2000.000000     1.000000    2019.0            16207.000000
25%     950.500000  2005.000000    12.000000    2019.0            18507.000000
50%    1901.000000  2010.000000    32.000000    2019.0            20293.000000
75%    2851.500000  2015.000000   100.000000    2019.0            22823.000000
max    3802.000000  2019.000000  1449.000000    2019.0            23704.000000

In [7]:
maestro_cm29.groupby(['Isla','Municipio','Comercio'])['Valor'].sum()

Isla       Municipio                  Comercio
El Hierro  Frontera                   Bares           389.0
                                      Restaurantes    260.0
           Pinar De El Hierro (El)    Bares           159.0
                                      Restaurantes     83.0
           Pinar de El Hierro (El)    Bares            93.0
                                                      ...
Tenerife   Victoria De Acentejo (La)  Comerc_vinos    127.0
                                      Restaurantes    840.0
           Vilaflor                   Bares           306.0
                                      Comerc_vinos     15.0
                                      Restaurantes    423.0
Name: Valor, Length: 203, dtype: float64

In [8]:
maestro_cm29.groupby(['Isla','Comercio'])['Valor'].sum()

Isla           Comercio
El Hierro      Bares             1099.0
               Comerc_vinos         7.0
               Restaurantes       962.0
Fuerteventura  Bares            22468.0
               Restaurantes     10125.0
Gran Canaria   Bares            59935.0
               Comerc_vinos        31.0
               Restaurantes     31367.0
La Gomera      Bares             2710.0
               Restaurantes      2366.0
La Palma       Bares            10490.0
               Restaurantes      3237.0
Lanzarote      Bares            30356.0
               Restaurantes     18605.0
Tenerife       Bares           137082.0
               Comerc_vinos       772.0
               Restaurantes     74435.0
Name: Valor, dtype: float64