In [3]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import functools

In [4]:
maestro_cm30 = "../../datos/CM30/maestro_cm30.csv"
maestro_cm30 = pd.read_csv(maestro_cm30)
maestro_cm30.describe()

          Ranking      Indice
count  154.000000  154.000000
mean    11.500000   99.948701
std      6.364988   17.747478
min      1.000000   77.400000
25%      6.000000   89.425000
50%     11.500000   95.550000
75%     17.000000  103.075000
max     22.000000  191.300000

In [5]:
maestro_cm30.groupby(['Ciudad','Pilar','Ranking']).count()

            Ciudad  Ranking  Indice    Pilar
0        Barcelona        1   145.8  General
1           Madrid        2   138.0  General
2         Valencia        3   108.2  General
3    San Sebastián        4   104.5  General
4           Málaga        5   103.0  General
..             ...      ...     ...      ...
149           León       18    84.9  Pilar 6
150      Salamanca       19    83.9  Pilar 6
151       Zaragoza       20    82.8  Pilar 6
152         Burgos       21    82.1  Pilar 6
153         Murcia       22    77.4  Pilar 6

[154 rows x 4 columns]

In [6]:
maestro_cm30.groupby(['Ranking','Pilar','Ciudad']).size()

Ranking  Pilar    Ciudad
1        General  Barcelona                     1
         Pilar 1  Barcelona                     1
         Pilar 2  Madrid                        1
         Pilar 3  Barcelona                     1
         Pilar 4  Madrid                        1
                                               ..
22       Pilar 2  León                          1
         Pilar 3  Las Palmas de Gran Canaria    1
         Pilar 4  Salamanca                     1
         Pilar 5  La Coruña                     1
         Pilar 6  Murcia                        1
Length: 154, dtype: int64