In [4]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import functools

# situacion laboral

In [5]:
maestro_cm34 = "../../../datos/CM34/maestro_cm34.csv"
maestro_cm34_dt = pd.read_csv(maestro_cm34)
maestro_cm34_dt

,indicador,tipo_dato,situacion_laboral,origen,isla,anyo,trimestre,mes,valor,valorPrev,fecha,ultima_fecha
0,Afiliaciones SS (situación laboral),Dato observado,TOTAL DE AFILIACIONES,NaN,CANARIAS,2020,1,3,765705.000,810047.0,20200331,20210630
1,Afiliaciones SS (situación laboral),Dato proyectado,TOTAL DE AFILIACIONES,NaN,CANARIAS,2020,1,3,814486.000,810047.0,20200331,20210630
2,Afiliaciones SS (situación laboral),Brecha de impacto,TOTAL DE AFILIACIONES,NaN,CANARIAS,2020,1,3,-48781.000,0.0,20200331,20210630
3,Afiliaciones SS (situación laboral),Dato observado,Empleos asalariados,NaN,CANARIAS,2020,1,3,637655.000,683218.0,20200331,20210630
4,Afiliaciones SS (situación laboral),Dato proyectado,Empleos asalariados,NaN,CANARIAS,2020,1,3,684423.000,683218.0,20200331,20210630
...,...,...,...,...,...,...,...,...,...,...,...,...
30436,Índice de cifra de negocios a precios corrient...,Dato proyectado,NaN,NaN,NaN,2005,1,1,111.291,NaN,20050131,20210630
30437,Índice de cifra de negocios a precios corrient...,Brecha de impacto,NaN,NaN,NaN,2005,1,1,0.000,NaN,20050131,20210630
30438,Índice de cifra de negocios a precios constant...,Dato observado,NaN,NaN,NaN,2005,1,1,128.865,NaN,20050131,20210630
30439,Índice de cifra de negocios a precios constant...,Dato proyectado,NaN,NaN,NaN,2005,1,1,128.865,NaN,20050131,20210630
30440,Índice de cifra de negocios a precios constant...,Brecha de impacto,NaN,NaN,NaN,2005,1,1,0.000,NaN,20050131,20210630

In [6]:
maestro_cm34_dt['situacion_laboral'] = maestro_cm34_dt['situacion_laboral'].fillna('NON-ID')
maestro_cm34_dt['origen'] = maestro_cm34_dt['origen'].fillna('NON-ID')
maestro_cm34_dt['isla'] = maestro_cm34_dt['isla'].fillna('NON-ID')

maestro_cm34_dt

,indicador,tipo_dato,situacion_laboral,origen,isla,anyo,trimestre,mes,valor,valorPrev,fecha,ultima_fecha
0,Afiliaciones SS (situación laboral),Dato observado,TOTAL DE AFILIACIONES,NON-ID,CANARIAS,2020,1,3,765705.000,810047.0,20200331,20210630
1,Afiliaciones SS (situación laboral),Dato proyectado,TOTAL DE AFILIACIONES,NON-ID,CANARIAS,2020,1,3,814486.000,810047.0,20200331,20210630
2,Afiliaciones SS (situación laboral),Brecha de impacto,TOTAL DE AFILIACIONES,NON-ID,CANARIAS,2020,1,3,-48781.000,0.0,20200331,20210630
3,Afiliaciones SS (situación laboral),Dato observado,Empleos asalariados,NON-ID,CANARIAS,2020,1,3,637655.000,683218.0,20200331,20210630
4,Afiliaciones SS (situación laboral),Dato proyectado,Empleos asalariados,NON-ID,CANARIAS,2020,1,3,684423.000,683218.0,20200331,20210630
...,...,...,...,...,...,...,...,...,...,...,...,...
30436,Índice de cifra de negocios a precios corrient...,Dato proyectado,NON-ID,NON-ID,NON-ID,2005,1,1,111.291,NaN,20050131,20210630
30437,Índice de cifra de negocios a precios corrient...,Brecha de impacto,NON-ID,NON-ID,NON-ID,2005,1,1,0.000,NaN,20050131,20210630
30438,Índice de cifra de negocios a precios constant...,Dato observado,NON-ID,NON-ID,NON-ID,2005,1,1,128.865,NaN,20050131,20210630
30439,Índice de cifra de negocios a precios constant...,Dato proyectado,NON-ID,NON-ID,NON-ID,2005,1,1,128.865,NaN,20050131,20210630
30440,Índice de cifra de negocios a precios constant...,Brecha de impacto,NON-ID,NON-ID,NON-ID,2005,1,1,0.000,NaN,20050131,20210630

In [7]:
maestro_cm34_dt['fecha'] = pd.to_datetime(maestro_cm34_dt['fecha'], format='%Y%m%d')
maestro_cm34_dt['ultima_fecha'] = pd.to_datetime(maestro_cm34_dt['ultima_fecha'], format='%Y%m%d')

maestro_cm34_dt

,indicador,tipo_dato,situacion_laboral,origen,isla,anyo,trimestre,mes,valor,valorPrev,fecha,ultima_fecha
0,Afiliaciones SS (situación laboral),Dato observado,TOTAL DE AFILIACIONES,NON-ID,CANARIAS,2020,1,3,765705.000,810047.0,2020-03-31,2021-06-30
1,Afiliaciones SS (situación laboral),Dato proyectado,TOTAL DE AFILIACIONES,NON-ID,CANARIAS,2020,1,3,814486.000,810047.0,2020-03-31,2021-06-30
2,Afiliaciones SS (situación laboral),Brecha de impacto,TOTAL DE AFILIACIONES,NON-ID,CANARIAS,2020,1,3,-48781.000,0.0,2020-03-31,2021-06-30
3,Afiliaciones SS (situación laboral),Dato observado,Empleos asalariados,NON-ID,CANARIAS,2020,1,3,637655.000,683218.0,2020-03-31,2021-06-30
4,Afiliaciones SS (situación laboral),Dato proyectado,Empleos asalariados,NON-ID,CANARIAS,2020,1,3,684423.000,683218.0,2020-03-31,2021-06-30
...,...,...,...,...,...,...,...,...,...,...,...,...
30436,Índice de cifra de negocios a precios corrient...,Dato proyectado,NON-ID,NON-ID,NON-ID,2005,1,1,111.291,NaN,2005-01-31,2021-06-30
30437,Índice de cifra de negocios a precios corrient...,Brecha de impacto,NON-ID,NON-ID,NON-ID,2005,1,1,0.000,NaN,2005-01-31,2021-06-30
30438,Índice de cifra de negocios a precios constant...,Dato observado,NON-ID,NON-ID,NON-ID,2005,1,1,128.865,NaN,2005-01-31,2021-06-30
30439,Índice de cifra de negocios a precios constant...,Dato proyectado,NON-ID,NON-ID,NON-ID,2005,1,1,128.865,NaN,2005-01-31,2021-06-30
30440,Índice de cifra de negocios a precios constant...,Brecha de impacto,NON-ID,NON-ID,NON-ID,2005,1,1,0.000,NaN,2005-01-31,2021-06-30

In [8]:
maestro_cm34_dt['valor'] = maestro_cm34_dt['valor'].fillna(value = 0)
maestro_cm34_dt['valorPrev'] = maestro_cm34_dt['valorPrev'].fillna(value = 0)
#En lugar de diferencias, se saca una nueva columna que pueda sacar el total de diferencias entre fechas en específico 
#en un periodo en especial
maestro_cm34_dt['valorDiff'] = maestro_cm34_dt['valor'] - maestro_cm34_dt['valorPrev']


print(maestro_cm34_dt.groupby('indicador', as_index=False)['valor'].sum())
print(maestro_cm34_dt.groupby('tipo_dato', as_index=False)['valor'].sum())
print(maestro_cm34_dt.groupby('situacion_laboral', as_index=False)['valor'].sum())

                                           indicador         valor
0                Afiliaciones SS (situación laboral)  1.910776e+08
1                            Afiliaciones SS (total)  2.800997e+08
2                        Pasajeros no interinsulares  2.863468e+09
3                                     Pernoctaciones  4.501235e+09
4                                           Turistas  5.521475e+08
5                    Índice de Producción Industrial  5.088244e+04
6                 Índice de cifra de negocios (IASS)  4.160265e+04
7  Índice de cifra de negocios a precios constant...  4.102414e+04
8  Índice de cifra de negocios a precios corrient...  4.029397e+04
9                  Índice de personal ocupado (IASS)  4.132084e+04
           tipo_dato         valor
0  Brecha de impacto -3.318084e+08
1     Dato observado  4.190119e+09
2    Dato proyectado  4.529933e+09
       situacion_laboral         valor
0    Empleos asalariados  8.019433e+07
1      Empleos autónomos  1.534444e+07
2                 NON-ID  8.197165e+09
3  TOTAL DE AFILIACIONES  9.553878e+07