In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import functools

In [2]:
listAllMasterCM3Files = glob.glob('../../datos/CM03/maestro_cm_03_*.csv')
combined_cm03_dt = pd.concat([pd.read_csv(f) for f in listAllMasterCM3Files])

print(combined_cm03_dt.head())

combined_cm03_dt.describe()

           indicador valor_dimension      isla  anyo  trimestre    valor  \
0  Gasto por turista     Ambos sexos  Canarias  2021          1  1314.86
1  Gasto por turista     Ambos sexos  Canarias  2020          4  1059.77
2  Gasto por turista     Ambos sexos  Canarias  2020          3  1030.09
3  Gasto por turista     Ambos sexos  Canarias  2020          2      NaN
4  Gasto por turista     Ambos sexos  Canarias  2020          1  1233.03

  dimension  valorPrev     fecha  ultima_fecha municipio concepto  \
0      Sexo    1233.03  20210331      20210331       NaN      NaN
1      Sexo    1185.34  20201231      20210331       NaN      NaN
2      Sexo    1285.54  20200930      20210331       NaN      NaN
3      Sexo    1088.81  20200630      20210331       NaN      NaN
4      Sexo     999.71  20200331      20210331       NaN      NaN

  pais_residencia
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN

,anyo,trimestre,valor,valorPrev,fecha,ultima_fecha
count,73294.000000,73294.000000,6.376000e+04,4.764600e+04,7.329400e+04,73294.0
mean,2019.153846,2.384615,7.148314e+06,9.063794e+06,2.019228e+07,20210331.0
std,0.948378,1.146136,7.741836e+07,8.905830e+07,9.422502e+03,0.0
min,2018.000000,1.000000,-6.490900e+02,-6.336600e+02,2.018033e+07,20210331.0
25%,2018.000000,1.000000,1.200750e+01,1.347250e+01,2.018123e+07,20210331.0
50%,2019.000000,2.000000,1.138100e+02,1.186150e+02,2.019093e+07,20210331.0
75%,2020.000000,3.000000,8.945000e+02,9.125600e+02,2.020063e+07,20210331.0
max,2021.000000,4.000000,4.263615e+09,4.263615e+09,2.021033e+07,20210331.0

In [3]:
combined_cm03_dt[combined_cm03_dt.duplicated(keep=False)]

Empty DataFrame
Columns: [indicador, valor_dimension, isla, anyo, trimestre, valor, dimension, valorPrev, fecha, ultima_fecha, municipio, concepto, pais_residencia]
Index: []

In [7]:
combined_cm03_dt['ultima_fecha'] = pd.to_datetime(combined_cm03_dt['ultima_fecha'], format='%Y%m%d')
combined_cm03_dt['fecha'] = pd.to_datetime(combined_cm03_dt['fecha'], format='%Y%m%d')
combined_cm03_dt

,indicador,valor_dimension,isla,anyo,trimestre,valor,dimension,valorPrev,fecha,ultima_fecha,municipio,concepto,pais_residencia
0,Gasto por turista,Ambos sexos,Canarias,2021,1,1314.86,Sexo,1233.03,2021-03-31,2021-03-31,NaN,NaN,NaN
1,Gasto por turista,Ambos sexos,Canarias,2020,4,1059.77,Sexo,1185.34,2020-12-31,2021-03-31,NaN,NaN,NaN
2,Gasto por turista,Ambos sexos,Canarias,2020,3,1030.09,Sexo,1285.54,2020-09-30,2021-03-31,NaN,NaN,NaN
3,Gasto por turista,Ambos sexos,Canarias,2020,2,NaN,Sexo,1088.81,2020-06-30,2021-03-31,NaN,NaN,NaN
4,Gasto por turista,Ambos sexos,Canarias,2020,1,1233.03,Sexo,999.71,2020-03-31,2021-03-31,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30415,Gasto por turista y día,Vivienda propia o vivienda de amigos o familia...,La Palma,2019,1,66.14,Tipo de alojamiento,49.72,2019-03-31,2021-03-31,NaN,Gasto no alojamiento,NaN
30416,Gasto por turista y día,Vivienda propia o vivienda de amigos o familia...,La Palma,2018,4,56.75,Tipo de alojamiento,NaN,2018-12-31,2021-03-31,NaN,Gasto no alojamiento,NaN
30417,Gasto por turista y día,Vivienda propia o vivienda de amigos o familia...,La Palma,2018,3,57.45,Tipo de alojamiento,NaN,2018-09-30,2021-03-31,NaN,Gasto no alojamiento,NaN
30418,Gasto por turista y día,Vivienda propia o vivienda de amigos o familia...,La Palma,2018,2,68.68,Tipo de alojamiento,NaN,2018-06-30,2021-03-31,NaN,Gasto no alojamiento,NaN
30419,Gasto por turista y día,Vivienda propia o vivienda de amigos o familia...,La Palma,2018,1,49.72,Tipo de alojamiento,NaN,2018-03-31,2021-03-31,NaN,Gasto no alojamiento,NaN

In [8]:
combined_cm03_dt.groupby(['valor_dimension']).mean()

,anyo,trimestre,valor,valorPrev
valor_dimension,,,,
1-2 meses,2019.153846,2.384615,618.359444,617.878519
25.000€ - 49.999€,2019.153846,2.384615,591.695789,599.521944
50.000€ - 74.999€,2019.153846,2.384615,652.295357,654.520198
75.000€ o más,2019.153846,2.384615,743.080389,725.253600
Activos,2019.153846,2.384615,616.436705,619.923056
Alemania,2019.153846,2.384615,175.721624,171.538305
Ambos sexos,2019.153846,2.384615,626.824271,629.427619
Apartamiento o villa turística,2019.153846,2.384615,191.876250,189.718327
"Asalariado, ayuda negocio familiar o prácticas remuneradas",2019.153846,2.384615,625.671944,637.205185
De 0 a 30 días,2019.153846,2.384615,594.333125,592.932593
De 1 a 7 noches,2019.153846,2.384615,526.955595,544.204028
De 16 a 44 años,2019.153846,2.384615,578.755313,589.036984
De 8 a 15 noches,2019.153846,2.384615,693.905655,699.592659
Empresario con o sin asalariados,2019.153846,2.384615,703.196806,699.848148
España,2019.153846,2.384615,118.242975,119.411382
"Estudiante, desempleado o labores del hogar, cuidado de niños o dependientes",2019.153846,2.384615,509.806389,516.320000
Estudios primarios,2019.153846,2.384615,664.034375,636.448056
Estudios secundarios,2019.153846,2.384615,632.015074,634.518353
Estudios superiores,2019.153846,2.384615,625.659107,628.915635
Extrahoteleros,2019.153846,2.384615,617.105209,601.874086
Holanda,2019.153846,2.384615,152.452030,150.590570
Hombres,2019.153846,2.384615,635.659286,637.798571
"Hotel de 1, 2, 3 estrellas",2019.153846,2.384615,181.975174,185.051634
Hotel de 4 estrellas,2019.153846,2.384615,197.112892,199.994358
Hotel de 5 estrellas y 5 GL,2019.153846,2.384615,264.341798,264.688135
Hoteleros,2019.153846,2.384615,666.690473,670.714773
Inactivos,2019.153846,2.384615,622.861875,614.980429
"Jubilado, prejubilado o ha cesado su actividad laboral",2019.153846,2.384615,704.426250,670.511481
Mayor de 44 años,2019.153846,2.384615,673.617976,660.335159
Menos de 25.000€,2019.153846,2.384615,528.715536,537.680198
Motivos profesionales,2019.153846,2.384615,560.256181,597.958056
Mujeres,2019.153846,2.384615,617.293304,620.971984
Más de 15 noches,2019.153846,2.384615,1079.362665,1088.539260
Más de 3 meses,2019.153846,2.384615,713.975972,702.417593
No lo sabe,2019.153846,2.384615,500.711214,493.739245
Otros alojamientos colectivos,2019.153846,2.384615,518.503807,516.296894
"Otros establecimientos colectivos (alojamiento rural, crucero, camping, etc.)",2019.153846,2.384615,178.772555,181.154120
Otros motivos,2019.153846,2.384615,524.093958,533.474722
Otros países,2019.153846,2.384615,163.135267,161.950477
"Otros tipos de inactividad (rentista, servicio militar obligatorio, etc.)",2019.153846,2.384615,682.147500,669.419074
Países Nórdicos,2019.153846,2.384615,172.568418,177.232446
Reino Unido,2019.153846,2.384615,161.745374,150.236446
Sin estudios,2019.153846,2.384615,624.369028,637.819444
Sin estudios o estudios primarios,2019.153846,2.384615,631.393750,618.497984
Total,2019.153846,2.384615,389.852554,391.561106
Total grupos de edades,2019.153846,2.384615,626.824271,629.427619
Vacaciones,2019.153846,2.384615,670.585625,666.632593
Vivienda o habitación alquilada a un particular,2019.153846,2.384615,187.722073,187.393485
Vivienda propia o vivienda de amigos o familiares u otros alojamientos privados,2019.153846,2.384615,133.697257,130.272791