In [4]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import functools

# CM02_1: Informaci√≥n de turistas

In [5]:
turistas_ccaa = "../../../datos/CM02_1/turistas_ccaa.csv"
turistas_ccaa_dt = pd.read_csv(turistas_ccaa)
turistas_ccaa_dt.describe()

              anyo          mes         valor
count  1890.000000  1890.000000  1.876000e+03
mean   2018.200000     5.762963  1.361571e+06
std       1.655061     3.422422  2.972601e+06
min    2015.000000     1.000000 -1.000000e+02
25%    2017.000000     3.000000  3.180000e+00
50%    2018.000000     5.000000  3.080250e+02
75%    2020.000000     8.000000  1.115370e+06
max    2021.000000    12.000000  1.937515e+07

In [7]:
turistas_esorigen = "../../../datos/CM02_1/turistas_ES_origen.csv"
turistas_esorigen_dt = pd.read_csv(turistas_esorigen)
turistas_esorigen_dt.describe()

              anyo          mes         valor
count  1104.000000  1104.000000  1.093000e+03
mean   2018.130435     5.869565  6.615402e+05
std       1.702544     3.465308  1.475861e+06
min    2015.000000     1.000000  0.000000e+00
25%    2017.000000     3.000000  1.049580e+05
50%    2018.000000     5.000000  2.485250e+05
75%    2020.000000     9.000000  4.950620e+05
max    2021.000000    12.000000  1.049344e+07

In [ ]:
turistas_isla = "../../datos/CM02_1/turistas_isla.csv"
turistas_motivisla = "../../datos/CM02_1/turistas_isla.csv"

turistas_isla_dt = pd.read_csv(turistas_ccaa)
turistas_motivisla_dt = pd.read_csv(turistas_motivisla)

print(turistas_isla_dt.head())
print(turistas_motivisla_dt.head())

In [ ]:
turistas_motivos_totales = "../../datos/CM02_1/turistas_motivos.csv"
turistas_motivos_origen = "../../datos/CM02_1/turistas_origen.csv"

turistas_motivos_totales_dt = pd.read_csv(turistas_motivos_totales)
turistas_motivos_origen_dt = pd.read_csv(turistas_motivos_origen)

print(turistas_motivos_totales_dt.head())
print(turistas_motivos_origen_dt.head())

In [ ]:
turistas_motivos_totales_dt.groupby(['pais','motivo']).size()

In [ ]:
turistas_paquetes = "../../datos/CM02_1/turistas_paquete.csv"
turistas_paquetes_isla = "../../datos/CM02_1/turistas_paquete_isla.csv"

turistas_paquetes_dt = pd.read_csv(turistas_paquetes)
turistas_paquetes_isla_dt = pd.read_csv(turistas_paquetes_isla)

print(turistas_paquetes_dt.head())
print(turistas_paquetes_isla_dt.head())

In [ ]:
turistas_tipo_establecimiento = "../../../datos/CM02_1/turistas_tipo_establecimiento.csv"
turistas_tipo_establecimiento_isla = "../../../datos/CM02_1/turistas_tipo_establecimiento_isla.csv"

turistas_paquetes_dt = pd.read_csv(turistas_paquetes)
turistas_paquetes_isla_dt = pd.read_csv(turistas_paquetes_isla)

print(turistas_paquetes_dt.head())
print(turistas_paquetes_isla_dt.head(10))

In [ ]:
turistas_sexo_edad = "../../datos/CM02_1/turistas_sexo_edad.csv"

turistas_sexo_edad_dt = pd.read_csv(turistas_sexo_edad)

print(turistas_sexo_edad_dt.head())

In [ ]:
turistas_pernoct = "../../datos/CM02_1/turistas_pernoctaciones.csv"
turistas_pernoct_isla = "../../datos/CM02_1/turistas_pernoctaciones_isla.csv"

turistas_pernoct_dt = pd.read_csv(turistas_pernoct)
turistas_pernoct_isla_dt = pd.read_csv(turistas_pernoct_isla)

print(turistas_pernoct_dt.head())
print(turistas_pernoct_isla_dt.head())
turistas_pernoct_isla_dt.groupby(['isla']).describe()

# CM02_2: Destinos y estancias

In [ ]:
listAllRevParFiles = glob.glob('../../datos/CM02_2/ADR_RevPAR*.csv')
combined_revpar_dt = pd.concat([pd.read_csv(f) for f in listAllRevParFiles])

print(combined_revpar_dt.head())

combined_revpar_dt.describe()

In [ ]:
combined_revpar_filtered = combined_revpar_dt.drop_duplicates(keep = False)
combined_revpar_filtered.describe()

In [ ]:
listAllRestFiles = glob.glob('../../datos/CM02_2/establecimientos*.csv')
combined_restabl_dt = pd.concat([pd.read_csv(f) for f in listAllRestFiles])

print(combined_restabl_dt.head())

combined_restabl_dt.describe()

In [ ]:
combined_restabl_filtered = combined_restabl_dt.drop_duplicates(keep = False)
combined_restabl_filtered.describe()

In [ ]:
listAllEstFiles = glob.glob('../../datos/CM02_2/estancia_media*.csv')
combined_estancia_dt = pd.concat([pd.read_csv(f) for f in listAllEstFiles])

print(combined_estancia_dt.head())

combined_estancia_dt.describe()

# CM02_3: Relacionado a contabilidad

In [ ]:
listAllMacroFiles = glob.glob('../../datos/CM02_3/macroeconomico*.csv')
combined_macro_dt = pd.concat([pd.read_csv(f) for f in listAllMacroFiles])

print(combined_macro_dt.head())

combined_macro_dt.describe()