In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import functools

In [4]:
directorio_aeropuertos = "../../datos/CM04/directorio_aeropuertos.csv"

directorio_aeropuertos_dt = pd.read_csv(directorio_aeropuertos)
directorio_aeropuertos_dt.describe()

           latitud     longitud
count  2012.000000  2012.000000
mean     36.853010     1.322972
std      22.613305    51.816244
min     -54.843300  -149.996002
25%      30.472401    -9.481780
50%      42.158850     7.542035
75%      50.957275    24.591375
max      78.927498   178.759003

In [9]:
listAllCM04Files = glob.glob('../../datos/CM04/maestro_cm04_*.csv')
combined_cm04_dt = pd.concat([pd.read_csv(f) for f in listAllCM04Files])

combined_cm04_dt.head()

,indicador,servicio,movimiento,cod_origen,origen,pais_origen,lat_origen,lon_origen,cod_destino,pais_destino,destino,valor,fecha
0,Pasajeros,Comercial,Llegada,ES,España,España,NaN,NaN,ES70,España,Canarias,673531.0,20171231
1,Pasajeros,Comercial,Llegada,ES,España,España,NaN,NaN,ES70,España,Canarias,616910.0,20171130
2,Pasajeros,Comercial,Llegada,ES,España,España,NaN,NaN,ES70,España,Canarias,685730.0,20171031
3,Pasajeros,Comercial,Llegada,ES,España,España,NaN,NaN,ES70,España,Canarias,667723.0,20170930
4,Pasajeros,Comercial,Llegada,ES,España,España,NaN,NaN,ES70,España,Canarias,753617.0,20170831

In [10]:
combined_cm04_dt.describe()

         lat_origen    lon_origen         valor         fecha
count  3.642264e+06  3.642264e+06  9.849070e+05  6.028632e+06
mean   4.523229e+01 -3.493724e-01  1.473911e+04  2.012308e+07
std    1.440888e+01  2.123777e+01  1.055839e+05  5.046609e+04
min   -3.339300e+01 -9.534140e+01  1.000000e+00  2.004013e+07
25%    3.955170e+01 -6.270070e+00  1.800000e+01  2.008053e+07
50%    5.010080e+01  2.078460e+00  4.110000e+02  2.012093e+07
75%    5.363040e+01  1.095810e+01  2.679000e+03  2.017023e+07
max    6.968330e+01  1.039940e+02  5.315320e+06  2.021073e+07